<%= render 'public/header' %>
<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row ">
      <div>
        <h1>商品編集</h1>
      </div>
      <div class="col px-5 px-sm-0 mx-auto">
      <%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>
　      <div class="form-group">
　        氏名
　        <%= f.text_field :last_name %><%= f.text_field :first_name %>
　      </div>
　      <div class="form-group">
　        フリガナ
　        <%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %>
　      </div>
　      <div class="form-group">
　        郵便番号
　        <%= f.text_field :postal_code %>
　      </div>
　      <div class="form-group">
　        住所
　        <%= f.text_field :address %>
　      </div>
　      <div class="form-group">
　        電話番号
　     　 <%= f.text_field :telephone_number %>
　      </div>
　      <div class="form-group">
　        メールアドレス
　     　 <%= f.text_field :email %>
　      </div>
        <%= f.submit '編集内容を保存' %><%= link_to "退会する",ccustomers_withdrawal_verification_path %>
      <% end %>
      </div>
    </div>
  </div>
</main>
