<%= render 'admin/header' %>
<div class="container px-5 px-sm-0">
  <div class="row mx-5">
    <div class="col-auto mt-3 mb-2 mx-3 text-center table-secondary">
      <caption>商品一覧</caption>
    </div>
    <div class="col mt-3 mb-2 mx-3 text-right">
      <%= link_to new_admin_item_path, class: "btn btn-success btn-sm" do %>
        新規商品追加
      <% end %>
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-11">
      <table class="table table-hover table-inverse" width="100%">
        <thead class="table-secondary">
          <tr>
            <th width="10%">商品ID</th>
            <th width="40%">商品名</th>
            <th width="30%">税抜価格</th>
            <th width="20%">ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <div class="form-group">
            <tr>
              <td>
                <%= item.id %>
              </td>
              <td>
                <%= link_to item.name, admin_item_path(item.id), class: "text-dark border-bottom border-dark" %>
              </td>
              <td>
                <%= item.price.to_s(:delimited) %>
              </td>
              <td>
                <% if item.is_active? %>
                  <p class="text-success">販売中</p>
                <% else %>
                 <p class="text-muted">販売停止中</p>
                <% end %>
              </td>
            </tr>
          </div>
        <% end %>
        <tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <%= paginate @items %>
  </div>
</div>
