  <body>
    <%= render 'admin/header' %>
    <h2>管理者ログイン</h2>
    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="field">
        <tr>
          <th>メールアドレス</th>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </tr>
      </div>
      <div class="field">
        <tr>
          <th>パスワード</th>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </tr>
      </div>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <%= render "admin/shared/links" %>
    <%= yield %>
  </body>


