<%= render 'public/header' %>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>商品一覧</h2>
      <table class="table table-hover table-inverse">
        <p>
          ようこそ、ながのCAKへ！</br>
          このサイトはケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </p>
        <h1>
          新着商品
        </h1>
        <div class="row">
        <% @items.each do |item| %>
        <div class="col">
          <div class="form-group">
            <% if item.image.attached? %>
              <%= image_tag item.image, size: "200x100" %>
            <% else %>
              <%= image_tag 'no_image', size: "200x100" %>
            <% end %>
          </div>
          <div class="form-group">
            <%= item.name %>
          </div>
          <div class="form-group">
            <%= item.price %>
          </div>
        </div>
        <% end %>
        </div>
      </table>
    </div>
  </div>
</div>

