  <%= render 'admin/header' %>
  <main>
    <div class="container">
      <div class="row mx-5">
        <div class="col-auto mt-4 mb-3 mx-3 text-center table-secondary">
          <caption><%= @customer.full_name %>さんの会員情報編集</caption>
        </div>
      </div>
      <div class="row mx-5">
        <div class="col-9">
          <table width="100%">
            <%= form_with model: @customer,url: admin_customer_path(@customer), method: :patch do |f| %>
            <tr>
              <th class="pb-3">会員ID</th>
              <td class="pb-3"><%= @customer.id %></td>
            </tr>
            <tr>
              <th class="pb-3">氏名</th>
              <td class="pb-3"><%= f.text_field :last_name %></td> 
              <td class="pb-3"><%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <th class="pb-3">フリガナ</th>
              <td class="pb-3"> <%= f.text_field :last_name_kana %></td>
              <td class="pb-3"><%= f.text_field :first_name_kana %></td>
            </tr>
            <tr>
              <th class="pb-3">郵便番号</th>
              <td class="pb-3"><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <th class="pb-3">電話番号</th>
              <td class="pb-3"><%= f.text_field :telephone_number %></td>
            </tr>
            <tr>
              <th class="pb-3">メールアドレス</th>
              <td class="pb-3"><%= f.text_field :email %></td>
            </tr>
            <tr>
              <th class="pb-3">住所</th>
              <td class="pb-3"><%= f.text_field :address %></td>
            </tr>
            
            <tr>
              <th class="pb-3">退会ステータス</th>
              <td class="pb-3">
　              <%= f.radio_button :is_deleted, 'false' %><%= f.label :is_deleted, '有効', value:false %>

                <%= f.radio_button :is_deleted, 'true' %><%= f.label :is_deleted, '退会', value: true %>
              </td>
            <tr>
            <tr>
              <th class="pb-5"></th>
              <td class="pb-5"><%= f.submit '変更を保存', class: "btn btn-success px-4 py-2" %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </main>
