<%= render 'admin/header' %>
<main>
  <div class="container">
    <div class="row">
      <div>
          <tr>
            <h2><%= @customer.full_name %>さんの会員情報編集</h2>
            <div class="form-group">
              <td>
                会員ID
                <%= @customer.id %>
              </td>
            </div>
            <div class="form-group">
              <td>
                氏名
                <%= @customer.last_name %> <%= @customer.first_name %>
              </td>
            </div>
            <div class="form-group">
              <td>
                フリガナ
                <%= @customer.last_name_kana %><%= @customer.first_name_kana %>
              </td>
            </div>
            <div class="form-group">
              <td>
                郵便番号
                <%= @customer.postal_code %>
              </td>
            </div>
            <div class="form-group">
              <td>
                電話番号
                <%= @customer.telephone_number %>
              </td>
            </div>
            <div class="form-group">
              <td>
                メールアドレス
                <%= @customer.email %>
              </td>
            </div>
            <div class="form-group">
              <td>
                住所
                <%= @customer.address %>
              </td>
            </div>
            <div class="form-group">
              <td>
                退会ステータス
　              <%= f.label :is_active, '有効', value: 1 %>
                <%= f.radio_button :is_active, '1' %>

                <%= f.label :is_active, '退会', value: 0 %>
                <%= f.radio_button :is_active, '0' %>
              </td>
            </div>
            <div class="form-group">
              <%= f.submit '変更を保存' %>
            </div>
            
          </tr>
      </div>
    </div>
  </div>
</main>
