<%= render 'admin/header' %>
<div class="container px-5 px-sm-0">
  <div class="row mx-5">
    <div class="col-auto mt-3 mb-2 mx-3 text-center table-secondary">
      <caption>注文履歴一覧</caption>
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-11">
      <table class="table table-hover table-inverse" width="100%">
        <thead class="table-secondary">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <div class="form-group">
            <tr>
              <td>
                <%= link_to admin_order_path(order.id), class: "text-dark border-bottom border-dark" do %>
                  <%= order.created_at.to_s(:datetime_jp) %>
                <% end %>
              </td>
              <td>
                <%= order.customer.full_name %>
              </td>
              <td>
                <% @order_details = order.order_details.includes(:item) %>
                <% @total_amount = @order_details.sum(&:amount) %>
                <%= @total_amount %>
              </td>
              <td>
                <%= order.status_i18n %>
              </td>
            </tr>
          </div>
        <% end %>
        <tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <%= paginate @orders %>
  </div>
</div>
