<%= render 'public/header' %>
<div class="container">
  <div class="row">
    <div class="col-auto mt-3 mb-2 ml-5 text-center table-secondary">
      <caption>注文情報入力</caption>
    </div>
  </div>
  <%= form_with model: Order.new,url: orders_verification_path, method: :post do |f| %>
    <div class="row">
      <strong>支払方法</strong>
    </div>
    <div class="row">
      <div class="col pl-4">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card,  Order.payment_methods_i18n[:credit_card]%>
      </div>
    </div>
    <div class="row">
      <div class="col pl-4">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
      </div>
    </div>
    <div class="row">
      <strong>お届け先</strong>
    </div>
    <div class="row">
      <div class="col pl-4">
        <%= f.radio_button :address_choice, '0' %>
        <%= f.label :address, 'ご自身の住所', value: 0 %>
      </div>
    </div>
    <div class="row">
      <div class="col pl-5">
        〒<%= current_customer.postal_code %><%= current_customer.address %></br><%= current_customer.full_name %>
      </div>
    </div>
    <div class="row">
      <div class="col pl-4">
        <%= f.radio_button :address_choice, '1' %>
        <%= f.label :address, '登録済住所から選択', value: 1 %>
      </div>
    </div>
    <div class="row">
      <div class="col pl-5">
        <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
      </div>
    </div>
    <div class="row">
      <div class="col pl-4">
        <%= f.radio_button :address_choice, '2' %>
        <%= f.label :address, '新しいお届け先', value: 2 %>
      </div>
    </div>
    <div class="row">
      <div class="col-3 pr-0 pl-5 mb-2">
        郵便番号（ハイフンなし）
      </div>
      <div class="col mb-2">
        <%= f.text_field :postal_code %>
      </div>
    </div>
    <div class="row">
      <div class="col-3 pr-0 pl-5 mb-2">
        住所
      </div>
      <div class="col mb-2">
        <%= f.text_field :address %>
      </div>
    </div>
    <div class="row">
      <div class="col-3 pr-0 pl-5 mb-2">
        宛名
      </div>
      <div class="col mb-4">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
    </div>
    <% end %>

</div>