<%= render 'public/header' %>
<main>
    <p id="notice"></p>
    <div class="container">
      <div class="row">
        <div class="col">
          <tr>
            <% if @item.image.attached? %>
              <%= image_tag @item.image, size: "300x200" %>
            <% else %>
              <%= image_tag 'no_image', size: "300x200" %>
            <% end %>
          </tr>
        </div>
        <div class="col">
          <tr>
            <h2>
              <%= @item.name %>
            </h2>
            <div class="form-group">
              <td>
                <%= @item.introduction %>
              </td>
            </div>
            <div class="form-group">
              <td>
                ¥<%= @item.price_tax %>(税込)
            </div>
            <div class="form-group">
              <%= form_with model: CartItem, method: :post do |f| %>
                <%= f.hidden_field :item_id, :value => @item.id %>
                <td>
                  <%= f.select :amount, *[1..10], { include_blank: "個数選択" } %>
                </td>
                <td>
                  <%= f.submit 'カートに入れる' %>
                </td>
              <% end %>
            </div>
          </tr>
        </div>
      </div>
    </div>
  </main>